<!DOCTYPE html>
<html>
<head>
    <title>Экспорт заказов</title>
</head>
<body>
    <h1>Экспорт данных в Excel</h1>
    <form onsubmit="exportData(event)">
        <input type="date" id="startDate" required>
        <input type="date" id="endDate" required>
        <button type="submit">Скачать</button>
    </form>
    <script>
        async function exportData(e) {
            e.preventDefault();
            const start = document.getElementById("startDate").value;
            const end = document.getElementById("endDate").value;
            window.open(`/api/v1/admin_routers/get_excel_orders?start_date=${start}&end_date=${end}`);
        }
    </script>
</body>
</html>